.trade-offer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;

  &:last-child {
    border-bottom: none;
  }

  &__price {
    width: 120px;
    background: #f3f3f3;
    padding: 7px 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &.green {
      background: #198b19;
      color: #fff;
    }

    &.red {
      background: #D01515FF;
      color: #fff;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &__name {
    padding: 7px 10px;
  }

  &__buy {
    cursor: pointer;
    background: $accent;
    padding: 5px;
    border-radius: 4px;
    overflow: hidden;
    margin: 5px;
    flex-shrink: 0;
    transition: 0.2s opacity ease-in-out;
    user-select: none;
    touch-action: manipulation;

    &:hover {
      opacity: 0.65;
    }
  }
}
